<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Index</h2>

    <%for(var i=0; i<=5; i++){%>                <!-- Change the Value of i if in need of data more than 5 -->
        <li><%- stock_Dates[i] %></li>
        <li><%- stock_opens[i] %></li>
        <li><%- stock_highs[i] %></li>
        <li><%- stock_lows[i] %></li>
        <li><%- stock_closes[i] %></li>
        <li><%- stock_volumes[i] %></li>
    <%}%>
    
    
</body>
</html>